# dependencies
node_modules/

# production
dist/

# environment variables
.env
backend/.env

# SQLite database
database/blog.sqlite


# logs
*.log

# operating system
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
